body{
	font-size: 16px;
	color: #fff;
	background-color:  #61122f;
}
/* Header */
#header-nav{
	background-color: #f6b319;
}
*{
	box-sizing: border-box;
}
img{
	background: no-repeat;
	width: 10%;
	height: 10%;
}
h1{
	font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 140%;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: .75;
}
#logo{
	width: 150%;
	height:150%;
}
.navbar-header{
	margin-left: 10px;
	padding-left: 5px;
	margin-bottom: 50px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone-number{
	margin-top: 10px;
}
.row{
	width: 100%;
}

#pad{
	padding-left: 5px;
}

#pic{
	width: 20%;
	height: 10%;
	margin: 5px 5px 5px 5px;
}
#heading{
	padding-left: 10px;
	color: #53b733;
}
#book-online{
	width: 50%;
	height: 50%;
	margin-top: 15px;
	margin-left: 5px;
}

#youtube-channel{
	width: 50%;
	height: 50%;
	margin-top: 15px;
	margin-left: 5px;
}